body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&auto=format&fit=crop&w=1920&q=80');
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #30c7bb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
#head{
    color: orange;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    /* background: #ffdd57; */
    background: linear-gradient(90deg, #c0d70d, #12c2e9, #f64f59);
    background-color: ;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
}

#rent_display {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
#phone{
    color: rgb(10, 7, 1);
}
