<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Begusrai Tour and Travel service</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" />
  <link rel="icon" href="{{ url_for('static', filename='images/Logon.png') }}" />
</head>
<body>
    <h1 id="intro">Welcome to begusrai tour & travel service </h1>
  <div class="container">
    <div class="profile-section">
      <img src="{{ url_for('static', filename='images/Logon.png') }}" alt="logo" class="page-logo" />
      <h2 id="about">About begusrai tour and travel service</h2>
    </div>

    <div class="about-section">
      <div class="content">
        <h2>Pramod Jee</h2>
        <p>
          With over 20 years of dedicated experience in the vehicle service industry, I have built a strong reputation for delivering reliable, high-quality service to countless satisfied customers.
          From routine maintenance to complex repairs, I’ve honed my skills to ensure every vehicle I work on runs smoothly and efficiently. My passion for automotive excellence, combined with decades of hands-on expertise, has driven my commitment to providing exceptional service.
          I take pride in the trust my clients place in me, and I strive to exceed their expectations with every service I offer.
        </p>
      </div>
    </div>
  </div>
</body>
</html>
